*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    background-color: darkgreen;
    justify-content: space-evenly;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;

}

header img{
    width: 10vw;
}

header nav{
    width: 40%;
}

main{
    background-color: red;
    height:800px ;
}
.botao{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100px;
}
button{
    background-color: #636369 ;
    border: 3px solid black;
    color: white;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    font-size: 0.8em;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
  }
  button:hover {
    background-color: #2b2b27;
    border-color: transparent;
}